
:root {
  --bgColor : snow;
  --txtColor : slategray;
  --boxColor : royalblue;
  --txtColorHi : white;

}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color : var(--txtColor);
  background-color: var(--bgColor);
}

header {
  top: 0;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Hero image */
#hero_image {
  height: 600px;
  width: 100%;
  background:  url("../images/bookshelf.jpg") no-repeat center center/cover;
  position: relative;
  background-color: #cccccc;  /* default color if image not found */
}

/* Hero image's overlaid text */
#hero_text {
  /* Final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(129, 118, 164, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 40%;
  min-height: 200px;
  padding-top: 40px;     
  padding-left: 10px;
}

#hero_text > h1, #hero_text > h2 {
  color: var(--txtColorHi);
}

/* NAV bar */
li {
 width: fit-content;
 padding-right: 5px;
 padding-left : 5px;
 text-align: center;
 border-right: 2px solid var(--txtColor);
 display : inline-block;
}

li:nth-of-type(1) {
   font-size: xx-large; 
   font-weight: bolder;
   color: var(--txtColor);
}

a {
  text-decoration: none;
}

a:hover {
  background-color: var(--txtColor);
  color: var(--bgColor);
 }

/* Container for ALL the different subjects */
.classSubjects {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  
}

/* section for each subjects */
.classLessons {
  display: inline-block;
  text-align: center;
}

.classLessons > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Hero image's overlaid text */
.classLessons_text {
  /* Final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(129, 118, 164, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 40%;
  min-height: 200px;
  padding-top: 40px;     
  padding-left: 10px;
}

.classLessons_text > h3 {
  color: var(--txtColorHi);
}