
/*  ------------------------------------------------------------------------
    
    ------------------------------------------------------------------------ 
*/ 

:root {
  --bgColor : snow;
  --txtColor : slategray;
  --boxColor : royalblue;
  --txtColorHi : white;

}

* {
  padding: 0;
}

/*  ------------------------------------------------------------------------
    Standard webpage section styling 
    ------------------------------------------------------------------------ 
*/ 

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color : var(--txtColor);
  background-color: var(--bgColor);
}

header {
  top: 0;
  width: 100%;
}

footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}


/*  ------------------------------------------------------------------------
    Hero Image section 
    ------------------------------------------------------------------------ 
*/ 

#hero_image {
  height: 600px;
  width: 100%;
  background:  url("../images/bookshelf.jpg") no-repeat center center/cover;
  position: relative;
  background-color: #cccccc;  /* default color if image not found */
}

/* Hero image's overlaid text */
#hero_text {
  /* Final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(129, 118, 164, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 40%;
  min-height: 200px;
  padding-top: 40px;     
  padding-left: 10px;
}

#hero_text > h1, #hero_text > h2 {
  color: var(--txtColorHi);
}


/*  ------------------------------------------------------------------------
    Navigation bar
    ------------------------------------------------------------------------ 
*/ 


li {
 width: fit-content;
 padding-right: 5px;
 padding-left : 5px;
 text-align: center;
 border-right: 2px solid var(--txtColor);
 display : inline-block;
}

li:nth-of-type(1) {
   font-size: xx-large; 
   font-weight: bolder;
   color: var(--txtColor);
}

a {
  text-decoration: none;
}

a:hover {
  background-color: var(--txtColor);
  color: var(--bgColor);
 }

/*  ------------------------------------------------------------------------
    Style the floating cards representing each subject 
    ------------------------------------------------------------------------ 
*/ 

/* Four columns per row */
.column {
  float: left;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 5px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .card > img {
    display : none;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/*  ------------------------------------------------------------------------
    Standard webpage section styling 
    ------------------------------------------------------------------------ 
*/ 


